name: Deploy Migrations to preview

on:
  push:
    branches:
      - preview
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_DB_PASSWORD: ${{ secrets.PREVIEW_DB_PASSWORD }}
      SUPABASE_PROJECT_ID: ${{ secrets.PREVIEW_PROJECT_ID }}

    steps:
      - uses: actions/checkout@v3

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: 'supabase link --project-ref $PREVIEW_PROJECT_ID'
      - run: 'supabase db push'
